/* =================================================================
                        Déclaration des couleurs
================================================================= */

:root{
    --backgroundColorOne : #121212;
    --backgroundColorTwo : #1a1a1a;

    --textColorOne : #e0e0e0;

    --mainBlueColor: #00aaff ;

}


/* =================================================================
                    Valeur par défaut de toutes les balises
================================================================= */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: auto;
    padding: 0;
    color : var(--textColorOne); 
    background-color: var(--backgroundColorOne); 
    max-width: 1440px;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

body::-webkit-scrollbar {
    width: 10px;
}

main {
    flex: 1;
}
body::-webkit-scrollbar-thumb {
    background: #3498db; 
    border-radius: 5px; 
}

body::-webkit-scrollbar-track {
    background: #070707; 
}

header {
    background-color: var(--backgroundColorTwo);
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--mainBlueColor); 
    font-weight: bold;
}

section {
    padding: 60px 20px;
    text-align: center;
}

h1, h2, h3 {
    color: var(--mainBlueColor); 
}

h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

h4 {
    color: lightskyblue;
}
p {
    color : var(--textColorOne); 
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: var(--mainBlueColor); 
}


/****************************************************************
                        Navigation
**************************************************************** */


.header-nav {
    position: absolute; 
    top: 15px; 
    right: 15px; 
}

.main-nav {
    display: flex;
    position: absolute;
    top: 0;
    margin-top: 15px;

}

.main-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.main-nav ul li {
    margin: 0 15px;
}

.main-nav ul li a {
    color: var(--mainBlueColor);
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.main-nav ul li a:hover {
    color: #51bcf1;
}


.second-nav {
    display: none; /* Caché par défaut */
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background: linear-gradient(black, 80%, #00aaffcd);
    box-shadow: 1em 1em 10em .1em #00aaffcd;
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.second-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.second-nav ul li {
    margin: 0 15px;
}

.second-nav ul li a {
    color: white;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}

/* Style du bouton burger */
.burger-menu {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1100;
    background: none;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
}

.burger-menu span {
    display: block;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}


/****************************************************************
                    Navigation fixe après défilement
**************************************************************** */

.fixed-nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
    margin : 0px;
    width: 100%;
    background: linear-gradient(#000, 85%, #00aaffcd);
    box-shadow: 1em 1em 10em .1em #00aaffcd;
    transition: all .4s ease-in-out;
}

.fixed-nav ul li a {
    color: white;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
}


.fixed-nav ul li a.active {
    color: var(--mainBlueColor); 
}


/****************************************************************
                            Header
**************************************************************** */

.welcome {
    font-size: 1.5em; 
    margin-bottom: 5vh; 
    text-align: center; 
    width: 100%; 
    align-self: center; 
    z-index: 3; 
    margin-top: 5vh;
}

.banner {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-content {
    display: contents;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.banner-left {
    flex:2;
    height: 100vh;
}

.banner-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.banner-right {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center; 
    padding: 20px;
}

.banner-photo {
    width: 250px;
    height: 250px;
    margin-top: 20px; 
    margin-bottom: 50px;
    align-self: center;
    position: relative;
    top: 20px; 
}

.banner-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    z-index: 2; 
}

.circle-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 280px;
    height: 280px; 
    border: 3px groove rgba(0, 181, 204, 0.9); 
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    box-shadow: 0 0 15px #00aaffcc, 0 0 30px #00aaffcc; 
    animation: rotateCircle 3s linear infinite; 
}

/* Animation de rotation */
@keyframes rotateCircle {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}



.banner-text {
    text-align: left;
}

.site-title {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
    color: var(--mainBlueColor); 
    text-align: center;
}

.site-subtitle {
    font-size: 1.5em;
    margin: 10px 0;
    text-align: center;
}

.site-description {
    font-size: 1em;
    margin-bottom: 20px;
    color : var(--textColorOne);
    text-align: center;
}


/****************************************************************
                        "À propos"
**************************************************************** */

.about {
    padding: 60px 20px;
    background-color: var(--backgroundColorTwo);
    text-align: center;
}

.about-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    color : var(--textColorOne);
}

/****************************************************************
                        "Formations"
**************************************************************** */


.timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timeline-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: normal;
    position: relative;
    width: 100%;
    overflow-x: auto;
    padding: 20px;
}

.timeline-item {
    position: relative;
    width: 300px;
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 5px solid #5ba8fa;
}

.timeline-date {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.timeline-content h3 {
    font-size: 20px;
    margin: 10px 0;
}

.timeline-content p {
    font-size: 14px;
    color: #666;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    width: 10px;
    height: 10px;
    background: #3498db;
    border-radius: 50%;
    transform: translateY(-50%);
}

.timeline-container::-webkit-scrollbar {
    height: 8px;
}

.timeline-container::-webkit-scrollbar-thumb {
    background: #3498db;
    border-radius: 4px;
}

.timeline-container::-webkit-scrollbar-track {
    background: #f4f4f4;
}

/****************************************************************
                        "Compétences"
**************************************************************** */

#skills_section {
    padding: 50px;
    background-color: var(--backgroundColorTwo);
    box-shadow: 3px 3px white;
    max-width: 1200px;
    margin: auto;
    text-align: center;
}


.skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.skill-card {
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.7);
}

.skill-card h3 {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    color: var(--mainBlueColor);
    margin-bottom: 15px;
}

.skill-card h3 i {
    margin-right: 10px;
    font-size: 2em;
    color: #33bbff;
}

.skill-card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skill-card ul li {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    color : var(--textColorOne);
    margin: 8px 0;
}

.skill-card ul li i {
    margin-right: 10px;
    font-size: 1.5em;
    color: #33bbff;
}

.icon-skill {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.icon-skill {
    width: 35px; 
    height: 35px;
}

/****************************************************************
                        "Projets filtres"
**************************************************************** */

#filter_section {
    margin-bottom: 20px;
}

.filter-btn {
    background: var(--mainBlueColor);
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    font-style: normal;
    height: 24px;
    padding: 0 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-bottom: 10px;
}

.filter-btn.active {
    background-color: #004080; /* Bleu foncé */
    color: #ffffff;
}

.filter-btn:hover {
    background-color: #007bff;
    color: white;
}

.reset-btn {
    background: #ff5500;
    color: white;
}

.reset-btn:hover {
    background-color: orange;
}

/****************************************************************
                        "Projets"
**************************************************************** */

#projects_section {
    margin-top: 50px;
    text-align: center;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide {
    display: flex;
    width: 100%;
}

.project-item {
    min-width: 33.33%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background-color: var(--backgroundColorTwo);
    border: 1px solid #333;
}

.project-item img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
}

.project-item h3 {
    margin: 10px 0;
    font-size: 1.5em;
    color: var(--mainBlueColor);
}

.project-item p {
    font-size: 1em;
    color : var(--textColorOne);
}

.no_project {
    margin: auto;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.skill-item {
    background: var(--mainBlueColor);
    border-radius: 30px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    font-style: normal;
    height: 24px;
    padding-left: 10px;
    padding-right: 10px;
}

.carousel-indicators {
    text-align: center;
    margin-top: 10px;
}

.carousel-indicator {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #333;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.carousel-indicator.active {
    background-color: var(--mainBlueColor);
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: var(--mainBlueColor);
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    z-index: 10;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}


/****************************************************************
                        "Contact"
**************************************************************** */

#contact-cv-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

#contact_section {
    background-color: rgba(0, 170, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    flex: 1 1 55%;
    margin-right: 20px;
}

form {
    display: flex;
    flex-direction: column;

}

form textarea {
    min-height: 150px;
}
form input,
form textarea {
    background-color: var(--backgroundColorTwo);
    color: var(--textColorOne);
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: vertical;
}

form input[type="submit"] {
    background-color: var(--mainBlueColor);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #33bbff;
}

.contact-info {
    margin-top: 30px;
    text-align: center;
}

.contact-info p {
    margin: 10px 0;
    font-size: 16px;
}

.contact-info a {
    text-decoration: none;
    color: var(--mainBlueColor);
    font-weight: bold;
}

.reseau-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

/****************************************************************
                        "Téléchagement CV"
**************************************************************** */

.cv-download {
    flex: 1 1 35%;
    text-align: center;
}

.cv-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.cv-download .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--mainBlueColor);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cv-download .btn:hover {
    background-color: #33bbff;
}



/****************************************************************
                "Bouton de retour en haut de page"
**************************************************************** */

#scrollTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--mainBlueColor);
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

#scrollTopBtn img {
    height: 35px;
}

#scrollTopBtn:hover {
    background-color: #003d82; 
}


/****************************************************************
                        "Footer"
**************************************************************** */

footer {
    background-color: var(--backgroundColorTwo);
    color : var(--textColorOne);
    padding: 20px;
    text-align: center;
    margin-top: 25px;
}

footer a {
  margin: 0 5px 0 5px;
}

/****************************************************************
                        Media queries
**************************************************************** */


/* Mobile - jusqu'à 768px */
@media screen and (max-width: 768px) {
    nav ul li {
        margin: 10px 0;
    }

    form {
        width: 100%;
    }

    .banner-text {
        font-size: smaller;
    }

    .banner-photo {
        width: 150px;
        height: 150px;
        margin-top: 20px; 
    }

    .fixed-nav {
        position: fixed;
    }

    .circle-animation {
        width: 180px;
        height: 180px;
    }

    .timeline-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .welcome {
        margin-top: 100px;
        text-align: center;
    }

    #skills_section, .skills-grid {
        display: flex;
        flex-direction: column;

    }
    #contact-cv-section {
        display: flex;
        flex-direction: column;
    }

    /* Masquer la navigation normale et afficher la navigation fixe sur petits écrans */
    .main-nav {
        display: none;
    }

    .second-nav {
        display: flex;
        margin: 0;
        padding: 0;

    }

    .second-nav ul{
        flex-direction: column;
        gap: 5px;
    }

    .burger-menu {
        display: flex;
    }

    .second-nav {
        display: none; /* Caché par défaut */
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background: black;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease-in-out;
    }

    .second-nav.active {
        display: flex;
    }

    .second-nav ul {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .second-nav ul li {
        margin: 0;
    }

    /* Animation du menu burger en mode actif */
    .burger-menu.active span:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }

    .burger-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.active span:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }
    
}

/* Tablettes - jusqu'à 900px */
@media (max-width: 900px) {
    .project-item {
        flex: 0 0 100%; /* Affiche 1 projet à la fois */
    }

    .banner-text {
        font-size: smaller;
    }

    .banner-photo {
        width: 150px;
        height: 150px;
        margin-top: 20px; 
    }

    .circle-animation {
        width: 180px;
        height: 180px;
    }
}

/* Grands écrans - à partir de 1175px */
@media (min-width: 1175px) {
    .main-nav {
        display: flex;
    }

    .second-nav {
        display: none;
    }

    .welcome {
        margin-top: 0; 
    }
}

/* Écrans moyens - à partir de 899px et moins de 1175px */
@media (min-width: 899px) and (max-width: 1174px) {
    .project-item {
        flex: 0 0 33.3333%; /* Affiche 3 projets à la fois */
    }

    .banner-photo {
        width: 150px;
        height: 150px;
        margin-top: 20px; 
    }

    .circle-animation {
        width: 180px;
        height: 180px;
    }

    .welcome {
        margin-top: 150px; 
    }
}
